.advantage {
  padding-top: 46px;
}

.advantage__content {
  padding: 0 20px 41px;
}

.advantage__content-paragraph {
  font-size: 24px;
  line-height: 28.8px;
  font-weight: 300;
  color: @color-grey;
  margin: 0;
  width: 280px;
  text-align: center;
  padding-bottom: 29px;
}

.advantage__list {
  background-color: @color-light-grey;
  margin: 0;
  padding: 53px 20px 36px;
  list-style-type: none;
  width: 280px;
  text-align: center;
}

.advantage__title {
  margin: 0;
  font-size: 18px;
  line-height: 24px;
  font-weight: 700;
  color: @color-black;
  margin-bottom: 24px;
}

.advantage__paragraph {
  font-size: 14px;
  line-height: 24px;
  font-weight: 400;
  margin-bottom: 43px;
}

.advantage__image {
  background-color: @color-light-grey;
  width: 238px;
  height: 282px;
  position: relative;
  padding-left: 82px;
  overflow: hidden;
}

.advantage__screen-1 {
  position: absolute;
  z-index: 1;
}

.advantage__screen-3 {
  position: absolute;
  z-index: 2;
  padding: 37px 11px 0;
}
