.feedback {
  margin: 0;
  padding: 50px 49px 0;
  width: 228px;
}

.feedback__title {
  margin: 0;
  margin-bottom: 45px;
  font-size: 24px;
  line-height: 28.8px;
  font-weight: 300;
  color: @color-grey;
  text-align: center;
}

.feedback__list {
  margin: 0;
  padding: 0;
  margin-bottom: 19px;
}

.feedback__item {
  list-style-type: none;
  text-align: center;
}

.feedback__info {
  font-size: 18px;
  line-height: 24.5px;
  font-weight: 700;
  margin: 0;
  margin-bottom: 13px;
}

.feedback__text {
  font-size: 24px;
  line-height: 32.68px;
  font-weight: 300;
  margin: 0;
  margin-bottom: 31px;
  color: @color-crimson;
}

.feedback__map {
  margin: 0;
  padding: 0;
  margin-left: -49px;
  width: 320px;
  height: 200px;
}
