.form {
  @media (min-width: @tablet-width) {
    display: flex;
    flex-direction: column;
  }

  @media (min-width: @desktop-width) {
    flex-direction: row;
    flex-wrap: wrap;
    padding: 0 130px;
  }
}

.form__list {
  margin: 0;
  padding: 0 20px 15px;
  border: 0;

  @media (min-width: @tablet-width) {
    margin: 70px 22px 45px;
    padding: 0;
    order: 1;
  }

  @media (min-width: @desktop-width) {
    margin: 0;
    padding: 0;
    width: 47%;
    margin-right: 71px;
  }
}

.form__item {
  margin-bottom: 29px;
  display: flex;
  flex-direction: column;

  @media (min-width: @tablet-width) {
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-bottom: 56px;

    &:last-of-type {
      margin: 0;
    }
  }

  @media (min-width: @desktop-width) {
    margin-bottom: 52px;
  }
}

.form__label {
  line-height: 30px;
  color: @color-crimson;
  text-transform: uppercase;
  padding-left: 23px;

  @media (min-width: @tablet-width) {
    font-size: 14px;
    line-height: 30px;
    font-weight: 400;
    padding: 0;
    padding-right: 20px;
  }
}

.form__input {
  margin-top: 17px;
  padding: 23px 20px 23px;
  font-size: 18px;
  line-height: 30px;
  font-weight: 400;
  color: @color-grey;
  border: 2px solid @color-soft-grey;
  border-radius: 1px;

  @media (min-width: @tablet-width) {
    margin: 0;
    width: 100%;
  }

  @media (min-width: @desktop-width) {
    margin: 0;
    width: 100%;
    padding: 15px 18px;
  }
}

.form__background-color {
  margin: 0;
  padding: 0;
  padding-top: 42px;
  background-color: @color-light-grey;

  @media (min-width: @tablet-width) {
    margin: 45px 0;
    padding: 0;
    background-color: @color-white;

    &--checkbox {
      order: 4;
    }

    &--application {
      order: 2;
    }
  }

  @media (min-width: @desktop-width) {
    &--checkbox {
      width: 100%;
      margin: 0;
      padding: 0;
      margin-top: 48px;
    }

    &--application {
      margin: 0;
      padding: 0;
      width: 45.3%;
    }
  }
}

.form__checkbox {
  margin: 0;
  padding: 44px 22px;
  border: 0;
  background-color: @color-light-grey;

  @media (min-width: @tablet-width) {
    margin: 0 22px;
    border: 2px solid @color-soft-grey;
    border-radius: 1px;
    background-color: @color-white;
  }

  @media (min-width: @desktop-width) {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin: 0;
    padding: 38px 40px 7px 55px;
  }
}

.form__legend-checkbox {
  line-height: 18px;
  font-weight: 400;
  text-align: center;
  width: 220px;
  text-transform: uppercase;
  color: @color-crimson;

  @media (min-width: @tablet-width) {
    line-height: 30px;
    width: auto;
    padding: 4px 31px;
  }
}

.form__progress {
  font-size: 18px;
  line-height: 30px;
  font-weight: 400;
  margin: 0 0 47px;

  @media (min-width: @tablet-width) {
    width: auto;
    margin: 0 60px 47px;

    &:last-of-type {
      width: auto;
      margin: 0 60px 0;
    }
  }

  @media (min-width: @desktop-width) {
    margin: 0;
    margin-left: 18px;
    margin-bottom: 53px;
    width: 300px;

    &:nth-of-type(2) {
      order: 3;
      width: 300px;
    }

    &:nth-of-type(3) {
      order: 1;
      width: 275px;
    }

    &:nth-of-type(4) {
      order: 4;
      width: 275px;
    }

    &:nth-of-type(5) {
      margin: 0;
      order: 2;
      width: 195px;
      margin-left: 17px;
    }

    &:nth-of-type(6) {
      order: 5;
      margin: 0;
      margin-left: 17px;
      width: 195px;
    }
  }
}

.form__choice {
  margin-right: 22px;
}

.form__list-contact {
  border: 0;
  margin: 42px 0 0;
  padding: 0 22px 44px;

  @media (min-width: @tablet-width) {
    margin: 45px 22px;
    padding: 27px 60px 37px;
    border: 2px solid @color-soft-grey;
    border-radius: 1px;
    width: auto;
    order: 3;
  }

  @media (min-width: @desktop-width) {
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin: 0;
    margin-top: 48px;
    padding: 23px 40px 13px 58px;
  }
}

.form__legend-contact {
  display: none;

  @media (min-width: @tablet-width) {
    display: block;
    text-align: center;
    padding: 4px 31px;
    text-transform: uppercase;
    color: @color-crimson;
    font-size: 14px;
    line-height: 30px;
    font-weight: 400;
  }
}

.form__item-contact {
  margin-bottom: 29px;
  display: flex;
  flex-direction: column;

  @media (min-width: @tablet-width) {
    margin-bottom: 0;
    display: flex;
    flex-direction: column-reverse;

    &:last-of-type {
      margin: 0;
    }
  }

  @media (min-width: @desktop-width) {
    width: 45.5%;
  }
}

.form__label-contact {
  line-height: 30px;
  font-weight: 400;
  padding-left: 22px;
  text-transform: uppercase;
  color: @color-crimson;

  @media (min-width: @tablet-width) {
    padding-left: 17px;
  }

  @media (min-width: @desktop-width) {
    padding-left: 19px;
  }
}

.form__input-contact {
  font-size: 18px;
  line-height: 30px;
  font-weight: 400;
  padding: 23px 20px;
  margin-top: 17px;
  border: 2px solid @color-soft-grey;
  border-radius: 1px;

  @media (min-width: @tablet-width) {
    margin-top: 41px;
    margin-bottom: 22px;
    width: auto;

    &--tel {
      margin-bottom: 22px;
      margin-top: 0;
    }
  }

  @media (min-width: @desktop-width) {
    margin: 0;
    margin-bottom: 10px;
    padding: 15px 18px;
  }
}

.form__application {
  background-color: @color-light-grey;
  margin: 0;
  padding: 40px 22px 42px;
  border: 0;

  @media (min-width: @tablet-width) {
    background-color: @color-white;
    margin: 0 22px;
    padding: 54px 60px;
    border: 2px solid @color-soft-grey;
    border-radius: 1px;
  }

  @media (min-width: @desktop-width) {
    margin: 0;
    margin-top: -23px;
    margin-right: -15px;
    padding: 39px 30px 58px;
  }
}

.form__legend {
  font-size: 14px;
  line-height: 18px;
  font-weight: 400;
  text-transform: uppercase;
  color: @color-crimson;
  text-align: center;

  @media (min-width: @tablet-width) {
    line-height: 30px;
    padding: 4px 25px;
    width: auto;
  }
}

.form__sistem {
  margin: 0;
  margin-bottom: 38px;
  padding: 0;

  &:last-of-type {
    margin: 0;
  }

  @media (min-width: @desktop-width) {
    margin-bottom: 46px;
  }
}

.form__sistem-input {
  margin: 0;
  padding: 0;
  margin-right: 31px;

  @media (min-width: @tablet-width) {
    margin-right: 22px;
  }

  @media (min-width: @desktop-width) {
    margin-left: 56px;
    margin-right: 30px;
  }
}

.form__sistem-label {
  font-size: 18px;
  line-height: 30px;
  font-weight: 400;
}

.form__textarea {
  margin: 0;
  margin-top: 42px;
  border: 0;
  padding: 22px 22px 52px;

  @media (min-width: @tablet-width) {
    margin: 45px 22px 70px;
    border: 2px solid @color-light-grey;
    border-radius: 1px;
    padding: 47px 60px 53px;
    order: 5;
  }

  @media (min-width: @desktop-width) {
    margin: 0;
    margin-top: 54px;
    padding: 29px 19px 37px 58px;
    width: 100%;
  }
}

.form__textarea-legend {
  font-size: 14px;
  line-height: 18px;
  font-weight: 400;
  text-align: center;
  text-transform: uppercase;
  color: @color-crimson;

  @media (min-width: @tablet-width) {
    padding: 4px 38px;
  }
}

.form__textarea-commit {
  font-size: 18px;
  line-height: 30px;
  font-weight: 400;
  color: @color-grey;
  width: 92%;
  height: 149px;
  border: 2px solid @color-soft-grey;
  border-radius: 1px;
  padding: 22px 20px;

  @media (min-width: @tablet-width) {
    height: 189px;
  }

  @media (min-width: @desktop-width) {
    height: 98px;
    padding: 13px 20px;
  }
}

.form__submit {
  margin: 0 auto;
  width: 276px;

  @media (min-width: @tablet-width) {
    margin: 0;
    width: auto;
    padding: 0 22px 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    order: 6;
  }

  @media (min-width: @desktop-width) {
    width: 100%;
    margin: 0;
    padding: 0;
    margin-top: 64px;
  }
}

.form__submit-button {
  font-size: 18px;
  line-height: 30px;
  font-weight: 700;
  color: @color-white;
  background-color: @color-swamp;
  margin: 0;
  margin-bottom: 46px;
  border: 2px solid @color-swamp;
  border-radius: 1px;
  padding: 23px 45px;
  text-transform: uppercase;
  width: 276px;

  @media (min-width: @tablet-width) {
    margin: 0;
    padding: 23px 55px;
    width: 296px;
  }

  @media (min-width: @desktop-width) {
    margin: 0;
    padding: 14px 20px;
    width: 300px;
  }
}

.form__compulsory {
  text-align: center;
  margin: 0;
  text-transform: uppercase;
}

.form__compulsory-color {
  color: @color-crimson;
}

.form__required-fields {
  display: none;

  @media (min-width: @desktop-width) {
    display: inline;
  }
}
