.page-modal-confirmation {
  width: 276px;
  height: 336px;
  padding: 44px 22px 0;
  text-align: center;
  box-shadow: 0px 7px 15px rgba(0, 1, 1, 0.15);
}

.page-modal-confirmation__title {
  font-size: 18px;
  line-height: 24px;
  font-weight: 700;
  margin: 0;
  margin-bottom: 37px;
}

.page-modal-confirmation__paragraph {
  margin: 0;
  margin-bottom: 41px;
}

.page-modal-confirmation__button {
  margin-left: -22px;
  width: 320px;
  height: 163px;
  background-color: @color-light-grey;

}

.page-modal-confirmation__button-close {
  margin: 52px 0;
  padding: 23px 65px;
  font-size: 18px;
  line-height: 30px;
  font-weight: 700;
  color: @color-white;
  text-transform: uppercase;
  background-color: @color-swamp;
  border: 2px solid @color-swamp;
  border-radius: 1px;
}
