.page-main {
  background-color: @color-white;
  margin: 0 0;
}

.page-main__title {
  background-color: @color-dark-blue;
  color: @color-white;
  background-image: url("../img/back-mobile.jpg");
  width: 320px;
  padding: 102px 20px 51px;
  text-align: center;
}

.page-main__title-first {
  font-size: 24px;
  line-height: 32px;
  font-weight: 300;
  font-style: normal;
  margin: 0;
}

.page-main__color {
  color: @color-crimson;
}

.page-main__compulsory {
  text-transform: uppercase;
}
