.price {
  background-color: @color-light-grey;
  padding-top: 129px;
  padding-bottom: 48px;
}

.price__strong {
  background-color: @color-dark-blue;
  color: @color-white;
}

.price__no-strong {
  background-color: @color-white;
}

.price__cell-header {
  width: 276px;
  height: 94px;
  margin: 0;
  padding: 0;
  overflow: hidden;

  &:first-child {
    background-color: @color-light-grey;
    border: 0;

    @media (min-width: @tablet-width) {
      margin: 0;
      padding: 0;
    }
  }
}

.price__cell-first {
  display: none;

  @media (min-width: @tablet-width) {
    display: block;
    width: 153px;
    height: 45px;
    margin: 0;
    padding: 0;
  }
}

.price__title {
  margin: 0;
  margin-top: 19px;
  margin-bottom: 12px;
  text-transform: uppercase;
}

.price__service {
  margin: 0;
  font-size: 18px;
  line-height: 30px;
  font-weight: 300;
  color: @color-light-grey;
}

.price__hit {
  font-size: 14px;
  line-height: 30px;
  font-weight: 400;
  width: 74px;
  height: 0;
  transform: rotate(-45deg) translateX(38px) translateY(-77px);
}

.price__hit-brand {
  width: 74px;
  background-color: @color-crimson;
  padding: 0 25px;
}

.price__cell {
  width: 276px;
  height: 59px;
  padding: 24px 20px 25px
}

.price__name-service {
  margin: 0;
  padding: 0;
  text-transform: uppercase;
  font-size: 14px;
  line-height: 30px;
  font-weight: 400;

  @media (min-width: @tablet-width) {
    text-transform: none;
  }
}

.price__name-service--none {
  @media (min-width: @tablet-width) {
    display: none;
  }
}

.price-on {
  width: 31px;
  height: 21px;
}

.price-off {
  width: 27px;
  height: 27px;
}

.price__toggle {
  @media (min-width: @tablet-width) {
    display: none;
  }
}
