.slider {
  width: 280px;
  overflow: hidden;
  position: relative;
}

.slider__list {
  margin: 0;
  padding: 0;
  width: 300%;
}

.slider__item {
  list-style-type: none;
  text-align: center;
  float: left;
  width: 280px;
}

.slider__title {
  margin-top: 0;
  margin-bottom: 31px;
}

.slider__paragraph {
  margin-top: 0;
  margin-bottom: 44px;
}

.slider__toggles {
  text-align: center;
}
